//----- Color ------

$white : #ffffff;
$white-weakest : #eeeeee;
$brown-orange : #8f6645;
$orange-brown : #a67245;
$black-grayish : #282828;
$grey : #b6b6b6;
$darker-grey : #161513;
$darker-grey-lighter : #21201e;

//------fonts--------

$allura : "Allura";
$poppins : "Popins";
$roboto : "Roboto";

//----other------

$sizeBgDateWidth : 260px;
$siezBgDateHeight : 135px;
$sizeInsindeSquare : 60px;



