footer{
    width: 100vw;
}
.footer_quote{
    position: relative;
    border: 1px solid white;
    background-color: $white;
    color: black;
    width: 60%;
    margin: 150px auto 200px  auto;
    padding: 0 30px 0px 30px;

    @media screen and (max-width : 740px){
        width: 80%;
     }
 
    
    .avatar_footer{
        @include avatar;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, 0 );
        z-index: 2;
        background: url("assets/img/avatar-02.jpg") center/cover;
    }
    p{
        margin-top: 70px;
        font-size: 1.5rem;
        line-height: 3.0rem;
       
        
    }
    h5{
        margin-top: 25px;
        font-size: 1.8rem;
        font-weight: 500;
    }
    h6{
        margin-top: 10px;
        color: $orange-brown;
        font-family: $roboto;
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
}

.bg-footer{
    position: relative;
    background: url("assets/img/bg-footer.jpg") center/cover;
    width: 100%;
    height: 200px;
    color: $white;
    text-align: start;
    
    @media screen and (max-width : 768px){
       background-image: none;
    }

    }
    .container-60-width{
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        @media screen and (max-width : 768px){
            display: flex;
            flex-direction: column;
        }
    }
.maps{
    background: url('assets/img/gmap.jpg') center/cover;
    width: 100%;
    height: 250px;
    z-index: -1;
    position: absolute;
    top: -250px;
    
}
.description-footer{
padding: 50px 20px 25px 0px;
    h3{
        margin-bottom: 25px;
    }
    p{
        font-family: $roboto;
        color: $grey;
        line-height: 2.0rem;
    }
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 25px 20px;
    text-transform: uppercase;
    label{
        font-family: $roboto;
        font-weight: 600;
    }
    input{
        border: 1px solid #a672453a ;
        background-color: transparent;
        height: 25px;
        width: 200px;
        margin: 15px 0 ;
        &::placeholder{
            padding-left: 10px;
        }
    }
    .media-contact{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    @media screen and (max-width : 768px) {
        padding: 0;
        margin-bottom: 50px;
        form{
            margin-bottom: 35px;
        }
    }
}
