.menu{
    margin-top: 100px;
    // height: 800px;
    color: $white;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/assets/img/bg-menu-01.jpg') no-repeat center;
    object-fit: none;
    background-position-y: 200px;

    .fork-and-spoon{
        margin: 30px 0 ;
    }
}
    
.menu_dishes{
    margin-top: 20px;
    background-color: $white-weakest;
    color: $grey;
    border-top: 2px solid $orange-brown;
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    width: 55%;
    padding: 0.5rem;
    max-width: 1000px;

    @media screen and (max-width : 740px){
        grid-template-columns: 1fr;
        width: 80%;
    }
    
}
.rectangle_dish{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0.5rem;
    min-height: 100px;
    border-bottom: dashed 1px rgba(0, 0, 0, 0.171);
    

    .prices{
        font-family: $roboto;
        font-weight: 700;
        color: $orange-brown;
        font-size: 1.3rem;
        padding-left: 5px
    }
}
.dishes{
    @include roundDishes;
}
.name_and_ingredients{
    margin-left: 1.0rem;
    font-family: $roboto;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.616);
    
    


    .plate-name{
        text-transform: uppercase;
        color: black;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 2.0rem;
    }
}
